data/
baselines/nn/wandb/
outputs/
wandb/
baselines/fisher/data
baselines/fisher/fisher_diags
baselines/fisher/models
baselines/fisher/grad_diags
baselines/fisher/results
baselines/fisher/model_merging/__pycache__
baselines/fisher/model_merging/datasets
